.loading-item {
  width: 30px;
  height: 30px;
}

.scale-animation {
  animation: 0.8s infinite alternate loading;
}

.cdelay-200 {
  animation-delay: 0.1s;
}

.cdelay-400 {
  animation-delay: 0.4s;
}

.cdelay-600 {
  animation-delay: 0.6s;
}

.animation-spin {
  animation: spin 2s infinite linear, dimensionsToggler 1s infinite linear;
}

.animation-scale {
  animation: scale 1s infinite linear;
}


@keyframes loading {
  from {
    scale: 1
  }

  to {
    scale: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-spin-square {
  animation: spin-square 1.4s infinite;
}

@keyframes spin-square {

  0%,
  100% {
    transform: rotate(0deg);
    border-radius: 50%;
    opacity: 1;
  }

  50% {
    transform: rotate(90deg);
    border-radius: 20%;
    opacity: 0.6;
  }
}

.animate-load {
  animation: load infinite;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.animation-scale {
  animation: scale 1s infinite linear;
}

@keyframes scale {
  0% {
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.7;
  }
}


@keyframes dimensionsToggler{
  0% {
    width: 90px;
    height: 90px;
  }
  50% {
     width: 150px;
    height: 150px;
  }
  100% {
    width: 90px;
    height: 90px;
  }
}