.loading-item{
  width: 30px;
  height: 30px;
}

.scale-animation {
  animation:0.8s infinite alternate loading;
}
.cdelay-200{
  animation-delay: 0.1s;
}
.cdelay-400{
  animation-delay: 0.4s;
}
.cdelay-600{
  animation-delay: 0.6s;
}

@keyframes loading {
  from{
    scale:1
  }
  to{
   scale:0.5;
  }
}

 @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg);
       }
}
